<!DOCTYPE html>
<html>
    <head>

      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <title>Twitter API - Zach Krall</title>

      <link rel="stylesheet" href="style.css">
      
</head>
<body>
  
  <div id="app">

    <div id="form">
      
      <form>
        <input placeholder="@zachkrall">
        <button type="submit">Submit</button>
      </form>
      
    </div>

    <div id="content">&nbsp;</div>
    <div id="linkToTweet">&nbsp;</div>

  </div>

  
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>