<!DOCTYPE html>
<html>
    <head>
        <title>test</title>
      
        <link rel="stylesheet" href="style.css">
      
        <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
        <script>


        </script>
</head>
<body>
  
  <div id="app">
  
    <div id="form">
        <form>
            <input placeholder="@zachkrall">
            <button type="submit">Submit</button>
        </form>
    </div>
        
    <div id="content">&nbsp;</div>
    
    <div id="linkToTweet">&nbsp;</div>
    
  </div>

<script type="text/javascript" src="blotter.js"></script>
<script type="text/javascript" src="liquidDistortMaterial.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>